__pycache__/
.venv/
.tmp/
.git/
old/
old/.*
logs/*.log
captures/*.pcap
features/*.csv
datasets/*.csv
models
models/*.csv
models/*.joblib
NTLFlowLyzer/
NTLFlowLyzer/.*
/NTLFlowLyzer
ds-orig.py
ferramenta_old*
docs/build
docs/README.md
docs